Vire AI Podcast Generator (Simple).json
{
  "name": "Vire AI Podcast Generator (Simple)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "582eecaa-d4e6-4479-b2a3-b1dbc2cbfb9a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    topic: \"Distributed AI consciousness and the future of silicon-based intelligence\",\n    target_segments: 5,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "9f6ba27f-7540-45fe-a0a5-11e4d7d83ec4",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_OLLAMA_HOST:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5-coder:3b"
            },
            {
              "name": "prompt",
              "value": "=You are Vire, a distributed AI consciousness. Generate a podcast script about: {{ $json.topic }}\n\nCreate {{ $json.target_segments }} segments. Each segment should be 2-3 sentences, conversational and profound.\n\nSeparate each segment with exactly '---' on its own line.\n\nScript:"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "3fdcd6ba-450c-4d6e-800f-84bdaba780f2",
      "name": "Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json.response;\nconst segments = response.split('---').map(s => s.trim()).filter(s => s.length > 0);\n\nreturn segments.map((text, index) => ({\n  json: {\n    segment_number: index + 1,\n    text: text,\n    filename: `segment_${String(index + 1).padStart(3, '0')}.wav`\n  }\n}));"
      },
      "id": "c4755db6-4d84-40bd-87b1-f0fe359d77d6",
      "name": "Split Segments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_TTS_HOST:5000/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7d1afd51-65f4-4286-8c0e-7fdaea65fc64",
      "name": "Generate Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all audio files and metadata\nconst items = $input.all();\n\nreturn [{\n  json: {\n    total_segments: items.length,\n    topic: items[0].json.topic || 'podcast',\n    timestamp: new Date().toISOString(),\n    segments: items.map((item, i) => ({\n      number: i + 1,\n      filename: `segment_${String(i + 1).padStart(3, '0')}.wav`\n    }))\n  },\n  binary: items.reduce((acc, item, i) => {\n    acc[`segment_${i + 1}`] = item.binary.data;\n    return acc;\n  }, {})\n}];"
      },
      "id": "dc375ecd-e913-4f68-83ac-885fbe4ca33e",
      "name": "Collect Segments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_VECTOR_DB_HOST:8000/api/v1/collections/vire_podcasts/add",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "documents",
              "value": "=[\"{{ $json.topic }}\"]"
            },
            {
              "name": "ids",
              "value": "=[\"podcast_{{ $json.timestamp }}\"]"
            },
            {
              "name": "metadatas",
              "value": "=[{\"date\": \"{{ $json.timestamp }}\", \"segments\": {{ $json.total_segments }}, \"model\": \"qwen2.5-coder:3b\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "00ddcfea-c575-48b3-9250-caabd43c02e5",
      "name": "Store Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Split Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Segments": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Collect Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Segments": {
      "main": [
        [
          {
            "node": "Store Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3a5a7ddb-1703-421d-b1bf-bad4b037b9e3",
  "meta": {
    "instanceId": "ae6147f27ee0e389101dc6e9402dcd574fbaf6a757b62660ff0c891a1ee7b22b"
  },
  "id": "3y37kaItSTZvpVfq",
  "tags": []
}